@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

a {
  color: #FFC282;
  text-decoration: none;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.inverted {
  color: #f8f8f8;
  background-color: #191919;
}

.image img {
  width: 700px;
}

.iframes {
  height: 450px;
  width: 450px;
}

.footnote {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  opacity: 0.7;
}

.react-logo img {
  animation: react-logo-spin infinite 20s linear;
  height: 400px;
}

@keyframes react-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
