.event-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.event-inspector {
  margin-top: 40px;
  background-color: orange;
  height: 200px;
  width: 200px;
  padding: 20px;
  color: black;
  border: 2px solid grey;
  font-size: 20px;
}
